<aside class="guides-toc" [attr.aria-label]="'guides.toc.aria' | translate">
  <span class="guides-toc__title">{{ 'guides.toc.onThisPage' | translate }}</span>
  @if (items().length > 0) {
    <ul class="guides-toc__list">
      @for (item of items(); track item.id) {
        <li class="guides-toc__item">
          <span
            class="guides-toc__link"
            [class.guides-toc__link--active]="item.id === activeId()"
            [class.guides-toc__link--nested]="item.level === 3"
          >
            {{ item.label }}
          </span>
        </li>
      }
    </ul>
  } @else {
    <p class="guides-toc__empty">{{ 'guides.toc.withoutSubtitles' | translate }}</p>
  }
</aside>
