.main-content {
  min-height: 100vh;
  background: var(--color-black);
  padding-top: var(--navbar-height);
}

@media (max-width: 767px) {
  .main-content {
    padding-top: var(--navbar-height-mobile);
  }
}
